/* ===== FONT GOOGLE ===== */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

/* ===== Add the Tailwind directives to your CSS ===== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== REUSABLE CSS CLASS ===== */
@layer components {
  .container {
    @apply max-w-[1024px] w-[calc(100%-3rem)] mx-auto;
  }

  .main {
    @apply overflow-hidden;
  }
}

// ===== HEADER SECTION =====
.header {
  // sticky header
  &.sticky-action {
    @apply bg-body shadow-[0_4px_8px_hsla(203,71%,4%,0.2)];
  }

  &__logo {
    &:hover {
      @apply bg-gradient-to-r from-purple to-blue bg-clip-text text-transparent;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      @apply fixed w-full -top-full left-0 pt-16 pb-14 bg-body shadow-[0_4px_8px_hsla(203,71%,4%,0.2)] transition-all duration-400 overflow-hidden;
    }

    &.show-menu {
      @apply top-0;
    }
  }

  &__link {
    @apply text-[15px] text-white-100 font-semibold md:text-[16px];

    &:hover {
      @apply bg-gradient-to-r from-purple to-blue bg-clip-text text-transparent;
    }
  }
}

// ===== HOME SECTION =====
.home {
  &__shape {
    &-small,
    &-big-1,
    &-big-2 {
      @apply absolute rounded-[50%] blur-[90px] xl:blur-[132px];
    }

    &-small {
      @apply w-[150px] h-[150px] bg-blue -top-10 -left-6 xl:w-[300px] xl:h-[300px] xl:-top-20 xl:-left-8;
    }

    &-big-1,
    &-big-2 {
      @apply w-[250px] h-[250px] xl:w-[400px] xl:h-[400px];
    }

    &-big-1 {
      @apply bg-blue top-64 -right-[6.5rem] xl:top-40 xl:-right-14;
    }

    &-big-2 {
      @apply bg-purple -left-14 -bottom-16 xl:left-56 xl:-bottom-40;
    }

    &-bg {
      @apply absolute top-0 left-0 w-full h-full object-cover mix-blend-soft-light opacity-30;
    }
  }

  &__wrapper {
    &-number {
      @apply text-[20px] text-white-100 font-semibold mb-1 md:text-[24px];
    }

    &-text {
      @apply text-[12px] md:text-[16px];
    }
  }

  &__footer {
    &-title,
    &-subtitle {
      @apply block text-[12px] md:text-[16px];
    }

    &-title {
      @apply mb-3;
    }

    &-number {
      @apply text-[20px] font-semibold mb-1 md:text-[24px];
    }

    &-counter {
      @apply text-center;
    }
  }
}
// animation home__img-eth
@keyframes float-eth {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
